body {
    background-color: #6667AB
}

h1 {
    color: white;
    text-align: center;
    font-family: "segoe script"
}

p {
    color: white;
    font-size: 30px;
    font-family: "GABRIOLA";
    border: 20px outset gold;
    text-align: center;
}

img {
    text-align: center;
    border: 20px outset gold;
}
